In [1]:
import pandas as pd

In [11]:
df=pd.read_csv("general_data.csv")

In [12]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4410 entries, 0 to 4409
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4410 non-null   int64
 1   Attrition                4410 non-null   object
 2   BusinessTravel           4410 non-null   object
 3   Department               4410 non-null   object
 4   DistanceFromHome         4410 non-null   int64
 5   Education                4410 non-null   int64
 6   EducationField           4410 non-null   object
 7   EmployeeCount            4410 non-null   int64
 8   EmployeeID               4410 non-null   int64
 9   Gender                   4410 non-null   object
 10  JobLevel                 4410 non-null   int64
 11  JobRole                  4410 non-null   object
 12  MaritalStatus            4410 non-null   object
 13  MonthlyIncome            4410 non-null   int64
 14  NumCompaniesWorked       4391 non-null   float64
 15  Over18                   4410 non-null   object
 16  PercentSalaryHike        4410 non-null   int64
 17  StandardHours            4410 non-null   int64
 18  StockOptionLevel         4410 non-null   int64
 19  TotalWorkingYears        4401 non-null   float64
 20  TrainingTimesLastYear    4410 non-null   int64
 21  YearsAtCompany           4410 non-null   int64
 22  YearsSinceLastPromotion  4410 non-null   int64
 23  YearsWithCurrManager     4410 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 827.0+ KB

In [14]:
df.describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,4410.000000,4410.000000,4410.000000,4410.0,4410.000000,4410.000000,4410.000000,4391.000000,4410.000000,4410.0,4410.000000,4401.000000,4410.000000,4410.000000,4410.000000,4410.000000
mean,36.923810,9.192517,2.912925,1.0,2205.500000,2.063946,65029.312925,2.694830,15.209524,8.0,0.793878,11.279936,2.799320,7.008163,2.187755,4.123129
std,9.133301,8.105026,1.023933,0.0,1273.201673,1.106689,47068.888559,2.498887,3.659108,0.0,0.851883,7.782222,1.288978,6.125135,3.221699,3.567327
min,18.000000,1.000000,1.000000,1.0,1.000000,1.000000,10090.000000,0.000000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,1.0,1103.250000,1.000000,29110.000000,1.000000,12.000000,8.0,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,2205.500000,2.000000,49190.000000,2.000000,14.000000,8.0,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000
75%,43.000000,14.000000,4.000000,1.0,3307.750000,3.000000,83800.000000,4.000000,18.000000,8.0,1.000000,15.000000,3.000000,9.000000,3.000000,7.000000
max,60.000000,29.000000,5.000000,1.0,4410.000000,5.000000,199990.000000,9.000000,25.000000,8.0,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000

In [20]:
df.head(80).describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,80.000000,80.000000,80.000000,80.0,80.0000,80.000000,80.000000,80.00000,80.000000,80.0,80.000000,79.000000,80.000000,80.000000,80.000000,80.000000
mean,36.475000,7.825000,2.800000,1.0,40.5000,1.962500,62541.375000,2.37500,15.275000,8.0,0.850000,11.443038,3.050000,7.875000,2.750000,4.525000
std,9.084658,6.929619,1.095445,0.0,23.2379,1.084339,45599.715571,2.35665,4.003084,0.0,0.955994,7.281425,1.525314,6.497078,3.563173,3.397598
min,18.000000,1.000000,1.000000,1.0,1.0000,1.000000,10810.000000,0.00000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.750000,2.000000,2.000000,1.0,20.7500,1.000000,29137.500000,1.00000,12.000000,8.0,0.000000,6.000000,2.000000,4.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,40.5000,2.000000,47290.000000,1.00000,14.000000,8.0,1.000000,10.000000,3.000000,7.000000,1.000000,4.000000
75%,43.000000,10.000000,4.000000,1.0,60.2500,3.000000,74832.500000,3.25000,18.250000,8.0,2.000000,14.000000,4.000000,10.000000,5.250000,7.000000
max,58.000000,29.000000,5.000000,1.0,80.0000,5.000000,196650.000000,9.00000,23.000000,8.0,3.000000,37.000000,6.000000,36.000000,13.000000,13.000000

Null Hypothesis: for sample of 80 employees the mean age is found to be 40

In [21]:
df.head(35).describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,35.000000,35.000000,35.000000,35.0,35.000000,35.000000,35.000000,35.00000,35.000000,35.0,35.000000,34.000000,35.000000,35.000000,35.000000,35.000000
mean,36.914286,7.285714,2.885714,1.0,18.000000,1.742857,66438.000000,2.20000,14.428571,8.0,0.800000,11.676471,2.971429,7.657143,2.771429,4.514286
std,9.444486,6.341142,1.131668,0.0,10.246951,0.980482,41292.059684,2.25962,3.890303,0.0,1.051609,8.307429,1.339133,7.016547,3.396241,3.450247
min,21.000000,1.000000,1.000000,1.0,1.000000,1.000000,20440.000000,0.00000,11.000000,8.0,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000
25%,29.000000,1.500000,2.000000,1.0,9.500000,1.000000,38310.000000,1.00000,11.000000,8.0,0.000000,5.250000,2.000000,4.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,18.000000,1.000000,55380.000000,1.00000,13.000000,8.0,0.000000,10.000000,2.000000,6.000000,1.000000,4.000000
75%,44.500000,10.000000,4.000000,1.0,26.500000,2.000000,86235.000000,3.00000,16.000000,8.0,1.000000,15.750000,4.000000,9.500000,5.500000,7.000000
max,55.000000,28.000000,5.000000,1.0,35.000000,4.000000,193280.000000,9.00000,23.000000,8.0,3.000000,37.000000,6.000000,36.000000,11.000000,13.000000

Null Hypothesis: for sample of 35 employees the mean PercentSalaryHike is found to be 10%

In [22]:
df.head(200).describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,200.000000,200.000000,200.000000,200.0,200.000000,200.000000,200.000000,199.000000,200.000000,200.0,200.000000,198.000000,200.000000,200.00000,200.000000,200.000000
mean,36.645000,9.170000,2.875000,1.0,100.500000,2.080000,60749.300000,2.748744,15.600000,8.0,0.830000,11.601010,2.795000,7.00500,2.250000,4.230000
std,9.327054,7.943336,0.992117,0.0,57.879185,1.140219,42443.620204,2.581438,3.968469,0.0,0.886016,7.741863,1.372001,5.98952,3.303341,3.570834
min,18.000000,1.000000,1.000000,1.0,1.000000,1.000000,10810.000000,0.000000,11.000000,8.0,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,30.000000,2.000000,2.000000,1.0,50.750000,1.000000,29060.000000,1.000000,12.000000,8.0,0.000000,6.000000,2.000000,3.00000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,100.500000,2.000000,50180.000000,2.000000,14.000000,8.0,1.000000,10.000000,3.000000,5.00000,1.000000,3.000000
75%,42.000000,14.000000,4.000000,1.0,150.250000,3.000000,68930.000000,4.000000,19.000000,8.0,1.000000,15.000000,3.000000,9.25000,3.000000,7.000000
max,60.000000,29.000000,5.000000,1.0,200.000000,5.000000,196650.000000,9.000000,25.000000,8.0,3.000000,37.000000,6.000000,36.00000,15.000000,17.000000

Null Hypothesis: for sample of 200 employees the mean MonthlyIncome is found to be 50000

In [23]:
df.head(80).describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,80.000000,80.000000,80.000000,80.0,80.0000,80.000000,80.000000,80.00000,80.000000,80.0,80.000000,79.000000,80.000000,80.000000,80.000000,80.000000
mean,36.475000,7.825000,2.800000,1.0,40.5000,1.962500,62541.375000,2.37500,15.275000,8.0,0.850000,11.443038,3.050000,7.875000,2.750000,4.525000
std,9.084658,6.929619,1.095445,0.0,23.2379,1.084339,45599.715571,2.35665,4.003084,0.0,0.955994,7.281425,1.525314,6.497078,3.563173,3.397598
min,18.000000,1.000000,1.000000,1.0,1.0000,1.000000,10810.000000,0.00000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.750000,2.000000,2.000000,1.0,20.7500,1.000000,29137.500000,1.00000,12.000000,8.0,0.000000,6.000000,2.000000,4.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,40.5000,2.000000,47290.000000,1.00000,14.000000,8.0,1.000000,10.000000,3.000000,7.000000,1.000000,4.000000
75%,43.000000,10.000000,4.000000,1.0,60.2500,3.000000,74832.500000,3.25000,18.250000,8.0,2.000000,14.000000,4.000000,10.000000,5.250000,7.000000
max,58.000000,29.000000,5.000000,1.0,80.0000,5.000000,196650.000000,9.00000,23.000000,8.0,3.000000,37.000000,6.000000,36.000000,13.000000,13.000000

In [ ]:
Null Hypothesis: for sample of 80 employees the mean YearsAtCompany is found to be 8

In [24]:
df.head(80).describe()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,80.000000,80.000000,80.000000,80.0,80.0000,80.000000,80.000000,80.00000,80.000000,80.0,80.000000,79.000000,80.000000,80.000000,80.000000,80.000000
mean,36.475000,7.825000,2.800000,1.0,40.5000,1.962500,62541.375000,2.37500,15.275000,8.0,0.850000,11.443038,3.050000,7.875000,2.750000,4.525000
std,9.084658,6.929619,1.095445,0.0,23.2379,1.084339,45599.715571,2.35665,4.003084,0.0,0.955994,7.281425,1.525314,6.497078,3.563173,3.397598
min,18.000000,1.000000,1.000000,1.0,1.0000,1.000000,10810.000000,0.00000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.750000,2.000000,2.000000,1.0,20.7500,1.000000,29137.500000,1.00000,12.000000,8.0,0.000000,6.000000,2.000000,4.000000,0.000000,2.000000
50%,36.000000,7.000000,3.000000,1.0,40.5000,2.000000,47290.000000,1.00000,14.000000,8.0,1.000000,10.000000,3.000000,7.000000,1.000000,4.000000
75%,43.000000,10.000000,4.000000,1.0,60.2500,3.000000,74832.500000,3.25000,18.250000,8.0,2.000000,14.000000,4.000000,10.000000,5.250000,7.000000
max,58.000000,29.000000,5.000000,1.0,80.0000,5.000000,196650.000000,9.00000,23.000000,8.0,3.000000,37.000000,6.000000,36.000000,13.000000,13.000000

In [ ]:
Null Hypothesis: for sample of 80 employees the mean TotalWorkingYears is found to be 15